version: '3.7'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:1.76.3
    restart: always
    ports:
      - '127.0.0.1:5678:5678'
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
